* {
	box-sizing: border-box;
	font-family: 'Shadows Into Light', cursive;
}

body {
	width: 100vw;
	height: 100vh;
	background: url(./img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

img {
	background-size: cover;
}

.clock {
	position: absolute;
	top: 17%;
	left: 68%;
	font-size: 3rem;
	color: #ffffff;
	rotate: calc(18deg);
}

.name-login {
	text-align: center;
	font-size: 2rem;
	width: 400px;
	height: 50px;
	position: absolute;
	top: 13%;
	left: 10%;
	border: none;
	border-radius: 50px;
	rotate: calc(-26deg);
	animation: bling 0.7s infinite alternate;
}

@keyframes bling {
	0% {
		background: transparent;
	}
	100% {
		background: rgb(243, 243, 179);
	}
}

.name {
	width: 180px;
	height: 180px;
	font-size: 4rem;
	color: #ffffff;
	cursor: pointer;
	position: absolute;
	background: transparent;
	top: 25%;
	left: 14%;
	border: none;
	rotate: calc(-20deg);
}

.reset {
	width: 180px;
	height: 180px;
	font-size: 4rem;
	color: #ffffff;
	cursor: pointer;
	position: absolute;
	background: transparent;
	top: 11%;
	left: 27%;
	border: none;
	rotate: calc(-20deg);
}
.name:hover,
.reset:hover {
	transition: 0.8s;
	color: green;
	background-color: beige;
	border-radius: 50%;
	opacity: 0.7;
	transform: scale(0.8, 0.8);
}

.login {
	position: absolute;
	font-size: 1.3rem;
	top: 20%;
	left: 43%;
	rotate: calc(-23deg);
}

.todo-input {
	position: absolute;
	top: 54%;
	left: 23%;
	rotate: calc(-22deg);
}

.todo-input input {
	font-size: 1.4rem;
	background: transparent;
	padding-left: 20px;
	border-radius: 15px;
	border: 1px solid black;
}

.add {
	width: 40px;
	height: 40px;
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid black;
}
.add:hover {
	transition: 0.7s;
	background-color: orange;
	transform: rotate(180deg);
}

.todo-list {
	position: absolute;
	font-size: 1.5rem;
	width: 400px;
	height: 400px;
	top: 58%;
	left: 25%;
	rotate: calc(-22deg);
}

li {
	list-style: none;
}
ul span {
	padding-left: 20px;
}
ul span:hover {
	color: brown;
	font-weight: bold;
	cursor: pointer;
}

#pictures {
	position: absolute;
	top: 35%;
	left: 50%;
	width: 300px;
	border: 1px solid black;
	box-shadow: 10px 10px 10px;
	rotate: calc(-22deg);
}

#pictures img {
	width: 100%;
	object-fit: contain;
	margin-bottom: -7px;
}

#pictures img:hover {
	cursor: pointer;
	transition: 0.8s;
	transform: scale(1.2, 1.2);
	border-radius: 10%;
}

#weather {
	width: 180px;
	height: 100px;
	position: absolute;
	top: 57%;
	left: 63%;
	font-size: 1.5rem;
	rotate: calc(-22deg);
}
